/* .body-section{
    margin:0;
    margin-bottom:3000px;
    padding-top:150px;
    padding-left:80px;
    padding-right:40px;
    background-color:rgb(249, 249, 249);
}


p{
    font-family:Roboto,Arial;
} */

.body-section{
    font-family:Roboto,Arial;
    margin:0;
    padding-top:80px;
    padding-left:96px;
    padding-right:24px;
    background-color:rgb(248, 248, 248);
}


p{
    font-family:Roboto,Arial;
}