
/* HEADER STYLING */
.header{
    height:70px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    z-index:100;

    position:fixed;
    top:0;
    left:0;
    right:0;
    padding-left:30px;

    background-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(233, 232, 232);
    
}

.left-section{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:260px;
    height:50px;

}

.youtube-logo-section{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-right:5px;
    cursor:pointer;
}
.youtube-logo{
    width:100%;
    padding:5px;
    border-radius:50%;
}
.youtube-text{
    font-family:'Roboto',Arial,sans-serif;
    font-size:28px;
    font-weight:bold;
    opacity:0.9;
    margin-left:5px;
    letter-spacing:-1.5px;
    border-radius:70%;
}
.menu{
    margin-left:30px;
    margin-right:20px;
}
.menu:hover{
    cursor:pointer;
}



.middle-section{
    display:flex;
    flex:1;
    max-width:500px;
    margin-left:70px;
    margin-right:35px;
    justify-content:center;
    align-items:center;
}
.search-bar{
    flex:1;
    height:40px;
    width:0;
    padding-left:12px;
    font-size:16px;
    border:1px solid rgb(202, 202, 202);
    border-radius:5px;
    box-shadow:inset 1px 1px 5px rgb(0,0,0,0.07);
}
.search-bar::placeholder{
    font-size:18px;
}

.search-btn{
    margin-left:-4px;
    padding:7px;
    border:1px solid rgb(202, 202, 202);
    background-color:rgb(244, 243, 243);
    display:flex;
    justify-content:center;
    align-items:center;
}

.apps-button{   
    border-radius:50%;
    background-color:white;
    border:none;
    padding:9px;
    display:flex;
    justify-content:center;
    align-content:center;
}
.apps-button:hover,.mic-btn:hover{
    cursor:pointer;
}
.mic-btn{   
    border-radius:50%;
    background-color:rgb(245, 245, 245);
    border:none;
    margin-left:10px;
    padding:10px;
    display:flex;
    justify-content:center;
    align-content:center;
}

.search-btn:hover,.mic-btn:hover,.apps-button:hover,.more-style:hover,.notification-icon:hover{
    background-color:rgb(205, 204, 204);
    cursor:pointer;
}



.right-section{
    display:flex;
    margin-right:20px;
    justify-content:space-between;
    align-items:center;
    width:330px;
    gap:10px;
}
.profile{
    border-radius:50%;
}
.profile-btn{
    border-radius:50%;
    background-color:white;
    border:none;
}
.profile-btn:hover{
    cursor:pointer;
}
.create-more{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    align-content:center;
    margin-top:-5px;
    display:flex;
    justify-content:center;
    align-content:center;
}
.createmore-style{
    position:relative;
    border-radius:10px;
    border:none;
    padding:3px;
    height:50px;
}
.more-text{
    font-weight:bold;
    margin-right:7px;
    font-size:16px;
}


.notification-icon-container{
    position:relative;
    display:flex;
    justify-content:center;
    align-content:center;

}
.notification-icon{
    border-radius:50%;
    background-color:white;
    border:none;
    padding:9px;
}
.notification-count{
    position:absolute;
    top:0;
    right:0;
    background-color:rgb(199, 24, 24);
    color:white;
    font-family:'Roboto',Arial;
    font-size:12px;
    padding-top:7px;
    padding-right:11px;
    padding-left:11px;
    padding-bottom:7px;
    border-radius:15px;
} 


.createmore-style .create-more .tooltip,.profile-btn .tooltip,.mic-btn .tooltip,.more-style:hover .tooltip,.search-btn .tooltip,.apps-button .tooltip,.notification-icon-container .tooltip{
    position:absolute;
    background-color:gray;
    color:white;
    padding:7px;
    border-radius:3px;
    font-size:16px;
    bottom:-30px;
    opacity:0;
    transition:opacity 0.15s;
    pointer-events:none;
    white-space:nowrap;
}
.createmore-style:hover .create-more .tooltip,.profile-btn:hover .tooltip,.mic-btn:hover .tooltip,.more-style:hover .tooltip,.notification-icon-container:hover .tooltip,.search-btn:hover .tooltip,.apps-button:hover .tooltip{
    opacity:1;
}
