
/* SIDE BAR STYLING */
.side-bar{
    position:fixed;
    left:0;
    bottom:0;
    top:68px;
    background-color:rgb(255, 255, 255);
    width:100px;
    z-index:200;
    padding-top:5px;
}

.side-bar-icons{
    height:74px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.side-bar-icons:hover{
    background-color:rgb(235, 234, 234);
}

.side-bar-icons img{
    height:20px;
    margin-bottom:4px;
}
.side-bar-icons p{
    font-family:Roboto,Arial;
    font-size:12px;
    margin-top:5px;

}